<nav class="navbar navbar-expand-lg navadmin">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse itNav2" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto p-2">
			<li class="nav-item itNav">
				<a href="{{path('admin_user')}}" class="btn btn-info">Gestion des utilisateurs</a>
			</li>
			<li class="nav-item itNav">
				<a class="btn btn-danger" href="{{path('admin_logout')}}">Déconnexion</a>
			</li>
		</ul> 
	</div> 
</nav>
